html {
  box-sizing: border-box;
}

body {
    display: flex;
}

.left-side {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

p,
button {
    margin-left: 2rem;
}

@font-face {
    font-family: 'norsebold';
    src: url('assets/norse/Norsebold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

p,
main,
form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p,
main,
legend {
    font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.sidebar {
    background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg) ;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    min-width: 40vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
}

h1 {
    font-family: 'norsebold';
    font-size: 5rem;
    text-align: center;
}

img {
    height: 100%;
    width: 8vw;
}

#creds {
    font-size: 0.02rem;
    font-weight: 200;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
}

.bg {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 100%;
}

span {
    color: #596D48;
}

span:hover {
    cursor: pointer;
    font-weight: 950;
}

button {
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 0.4rem;
    padding: 0.7rem 3rem;
    font-weight: 700;
    margin-top: 5%;
}

button:hover {
    cursor: pointer;
    outline: solid 2px #596D48;
    font-weight: 950;
}

fieldset {
    border: none;
    padding: 1rem;
    display: flex;
    
}

legend{
    padding-top: 1rem;
}

body {
    background-color: rgb(239, 238, 238);
}

form {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px -20px;
    gap: 10px;
}

input {
    border: solid 1px #E5E7EB;
    border-radius: 5px;
    font-size: 1rem;
    padding: 7px 5px;
    width: 100%;
    margin: 0 10px 15px 0;
}

input:focus {
    outline: none;
    border-color: #3B82F6;
    box-shadow: 1px 1px 4 px rgba(18, 40, 75, 0.3);
}

label {
    text-transform: uppercase;
    color: #222C3A;
    margin-bottom: 3px;
    letter-spacing: 1.5px;
    font-size: 0.9rem;
    font-weight: 600;
}

.nameDiv,
.mailDiv,
.passwordDiv {
    margin: 10px;
}

#password,
#confirm {
    outline: solid 1px rgb(222, 58, 58);
}